body{
    height: calc(93vh);
    width: 100%;
    background-size: cover;
    background-position: center top;
}
.new-name-container{
    border: solid black;
    width: 100%;
}
#btn-submit{
    width: 200px;
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
    background-color: #2b78e4;
    border: 3px solid black;
    box-shadow: 3px 2px black;
}
.home-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.pets-container{
    display: flex;
    flex-direction: row;
}
.pets-name, .pets-skills{
    background-color: #dddddd;
    padding: 15px;
    flex: 1;
}
.fields{
    display: flex;
    flex-direction: column;
}
.fields label{
    margin-bottom: 15px;
}
.fields input{
    margin-bottom: 20px;
    border: solid black;
    padding-left: 15px;
}
.input-question{
    height: 150px;
    width: 500px;
}
.required label::after {
    content: " *";
    color: red;
}

.contenedorcito{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.concha2{
    border: 1px solid #ddd;
    padding: 20px;
    background-color: lightgray;
    border-radius: 25px;
}
.user-login{
    justify-content: flex-end;
}